body {
	background-color: #E6E6FA;
}

img {
	margin: 50px auto;
	display: block;
	border-radius: 50%;
	border: 3px solid #F0FFFF;
    width: 300px;
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
}

div {
	background: #7B68EE;
	width: 1000px;
	max-width: 95%;
	margin: -10px auto;
	padding: 25px;
}

p {
	width: 350px;
	margin: 25px auto;
	padding: 25px;
	display: block;
	color: #4B0082;
    border-radius: 25px;
    border: 3px solid #F0FFFF;
	background-color: #F0FFFF;
	font-size: 20px;
}
